
@{
    ViewBag.Title = "New";
}
<style>
    form {
        margin: 20px 0;
        padding: 20px;
        background-color: lightgray;
        border: 1px solid black;
    }

    label {
        display: inline-block;
        width: 100px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    input[type="number"],
    select {
        padding: 5px;
        font-size: 16px;
        border-radius: 5px;
        border: none;
        margin-bottom: 10px;
        width: 200px;
    }

    input[type="submit"] {
        background-color: gray;
        color: white;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }

</style>

<h2>Create Grocery</h2>
<form action="/Grocery/Create" method="POST">
    <div>
        <label>UPC:</label> <input type="text" name="Upc" />
    </div>
    <div>
        <label>Name:</label> <input type="text" name="Name" />
    </div>
    <div>
        <label>Weight(Gram):</label> <input type="number" name="Weight" />
    </div>
    <div>
        <label>Stock:</label> <input type="number" name="Stock" />
    </div>
    <div>
        <input type="submit" value="Add Grocery" />
    </div>
</form>

