@model PassionProject.Models.StoreDto

@{
    ViewBag.Title = "Edit";
}
<style>
    form {
        margin: 20px 0;
        padding: 20px;
        background-color: lightgray;
        border: 1px solid black;
    }

    label {
        display: inline-block;
        width: 100px;
        font-weight: bold;
        margin-bottom: 10px;
    }

    input[type="submit"] {
        background-color: gray;
        color: white;
        padding: 10px 20px;
        margin-top: 20px;
        border-radius: 5px;
        font-size: 16px;
        font-weight: bold;
        cursor: pointer;
    }
</style>

<h2>Update Store</h2>
<form action="/Store/Update/@Model.StoreID" method="POST">
    <div style="display:none;">
        @* Pass through the store ID *@
        <input type="number" name="StoreId" value="@Model.StoreID" />
    </div>
    <div>
        <label>Name:</label>
        <input type="text" name="Name" value="@Model.Name" />
    </div>

    <div>
        <input type="submit" value="Update Store Name" />
    </div>
</form>

