
@{
    ViewBag.Title = "Create";
}

<h2>Create New Store</h2>
<form action="/Store/Create" method="POST">
    <div>
        <label>Name:</label> <input type="text" name="Name" />
    </div>
    <div>
        <input type="submit" value="Add Store" />
    </div>
</form>
