@{
    ViewBag.Title = "Home Page";
}

<style>
    .intro-container {
        background-color: #f8f8f8;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 80vh;
    }

    .intro-content {
        max-width: 600px;
        text-align: center;
    }

    .intro-title {
        font-size: 2rem;
        font-weight: bold;
        margin: 0 0 1rem;
    }

    .intro-text {
        margin: 0 0 1.5rem;
    }

    .intro-btn {
        display: inline-block;
        background-color: #4CAF50;
        color: #fff;
        text-decoration: none;
        padding: 1rem;
        border-radius: 4px;
        transition: background-color 0.3s ease-in-out;
    }

</style>
<body>
    <div class="intro-container">
        <div class="intro-content">
            <!--Image is not working-->
            <!--<img class="intro-image" src="~/Views/Home/Image/grocery.jpg" alt="Walmart Image">-->
            <h1 class="intro-title">Welcome to Inventory Content Management System!</h1>
            <p class="intro-text">Our website helps you manage your grocery stock by automatically updating the stock count upon every order entry. You can easily keep track of your inventory and never run out of stock again!</p>
            <h3 class="intro-title">Don't Worry!! We are happy to help you!!</h3>
            <a class="intro-btn" href="/order/list">Get started</a>
        </div>
    </div>
</body>